
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Pravila za sve fajlove
    match /{allPaths=**} {
      // Svako može da čita fajlove. Ovo je neophodno za javne slike,
      // kao što su PWA ikonice i slike na "O nama" stranici.
      allow read;

      // Samo autentifikovani korisnici mogu da pišu (postavljaju, menjaju, brišu) fajlove.
      // Ovo sprečava neovlašćene korisnike da menjaju sadržaj Vašeg Storage-a.
      allow write: if request.auth != null;
    }
  }
}
